.FriendList {
  margin:-5px;
  .Friend {
    height: fit-content;
    display: flex;
    width: fit-content;
    background: var(--foreground-color);
    border-radius: 10px;

    .container {
      display: flex;
      flex-direction: row;
      width: 150px;
      justify-content: space-around;
      padding: 10px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        color: var(--primary-text-color);
        cursor: pointer;
      }
    }
  }
}
