.ShareMenu {
  display: flexbox;
  z-index: 900;

  .card {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 5px;
    justify-items: center;

    .Menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        margin: 3px;
        cursor: pointer;
      }
    }
  }
}
