.feed {
  width: 100%;
  display: flex;
  justify-content: center;

  .posts {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: transparent;
  }
}
