.input-group {
  border: none;
  /* border-bottom: 1px solid lightgray; */
  background: var(--login-card-bg);
  padding: 0px 0px;
  width: 100%;

  input{
    width: 80%;
  }

  span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
  }

  input:invalid[focused="true"] {
    border: none;

    /* border: 1px solid red; */
    font-size: 10px;
  }

  input:invalid[focused="true"] ~ span {
    border: none;
    display: inline-block;
    font-size: 10px;
  }
}
