.input-group {
  border: none;
  background: var(--login-card-bg);
  width: 100%;

  input{
    width: 100%;
  }

  span {
    font-size: 12px;
    color: red;
    display: none;
  }

  input:invalid[focused="true"] {
    border: none;
    font-size: 10px;
  }

  input:invalid[focused="true"] ~ span {
    border: none;
    display: inline-block;
    font-size: 10px;
  }
}
